// stylelint-disable scss/no-global-function-names

$scroll_width : 5px;

body {
  padding-top: 3rem !important;
  padding-bottom: 0.1rem !important;

  & .tab-pane {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

*::-webkit-scrollbar {
  width: $scroll_width !important;
}

*::-webkit-scrollbar-track {
  border-radius: $scroll_width;
  background-color: none;
  // border: 1px solid adjust-color($secondary, $lightness: 30%);
  // box-shadow: inset 0 0 6px adjust-color($secondary, $lightness: -5%);
}

*::-webkit-scrollbar-thumb {
  border-radius: $scroll_width;
  background-color: $primary;
}
