// stylelint-disable scss/no-global-function-names

$scroll-width: 5px;

body {
  padding-top: 3rem !important;
  padding-bottom: 0.1rem !important;

  & .tab-pane {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

*::-webkit-scrollbar {
  width: $scroll-width !important;
}

*::-webkit-scrollbar-track {
  border-radius: $scroll_width;
  background-color: $light;
}

*::-webkit-scrollbar-thumb {
  border-radius: $scroll-width;
  background-color: $primary;
}
