// stylelint-disable scss/no-global-function-names

.bslib-page-navbar > .navbar,
.bslib-page-dashboard > .navbar {
  padding-top: 0;
  padding-bottom: 1px;
}

.nav-link {
  @include bevel-button;

  background: adjust-color($secondary, $lightness: -5%);
  text-align: -webkit-center;

  &.active,
  &:hover {
    background: adjust-color($secondary, $lightness: -20%);
  }

  box-shadow: 0 3px 0 0 $success;

  &.disabled {
    box-shadow: 0 3px 0 0 $danger;
  }
}

.app-title {
  display: inline !important;

  img {
    height: 40px;
    margin-right: 20px;
  }
}

.app-footer {
  align-self: center;
  display: flex;

  .footer-images {
    height: 25px;
    right: 5px;
    bottom: 2px;
    position: fixed;
    display: flex;
    gap: 7px;
  }
}
