// stylelint-disable scss/dollar-variable-pattern

$primary: #0f4c81;
$secondary: #009473;
$light: #f6fffd;
$dark: #002018;
$success: #71cc51;
$info: #0f4c81;
$warning: #dd4124;
$danger: #bf1932;
$white: #fff;
$black: #000;
$brand_colors: dark_purple #5f4b8b, light_purple #6667ab, light_braown #edf5ed;
$shiny_widgets_primary: $secondary;
$shiny_widgets_secondary: $primary;
